<%= provide(:title, 'All Users') %>
<h1>All Users</h1>

<%= will_paginate %>

<ul class="users">
	<%= render @users %>
	<!-- <% @users.each do |user| %>
		<%= render user %>
	<% end %> -->
</ul>

<%= will_paginate %>
